{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}
{% block body %}
    <section class="ftco-section">
        <div class="container">
            <h1>Inscription</h1>
            {{ include('utilisateur/_form.html.twig') }}
        </div>
    </section>
{% endblock %}