{% extends 'base.html.twig' %}

{% block title %}{% trans %}Rayon{% endtrans %}{% endblock %}

{% block content %}
    <section class="ftco-section">
        <section class="ftco-section ftco-category ftco-no-pt">
            <div class="container">
                <div class="row">

                    {% for product in products %}
                        <div class="col-md-6 ftco-animate">
                            <div class="product">
                                <a href="#" class="img-prod"><img class="img-fluid" src="{{ asset('assets/images/' ~ product.visuel) }}" alt="Colorlib Template">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.libelle }}</a></h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span>{{ product.prix }} €</span></p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span><i class="ion-ios-menu"></i></span>
                                            </a>
                                            <a href="{{ path('panier_ajouter', {'idProduit': product.id, 'quantite': 1}) }}" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if products|length == 0 %}
                        {% trans %}Aucun produit n'a été trouvé{% endtrans %}
                    {% endif %}

                </div>
            </div>
        </section>

        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">{% trans %}Des produits pour tous les goûts{% endtrans %}</span>
                    <h2 class="mb-4">{% trans %}Catégories alimentaires{% endtrans %}</h2>
                    <p>{% trans %}Sélectionnez la catégorie de votre choix{% endtrans %}</p>
                </div>
            </div>
        </div>

    </section>
{% endblock %}